body html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

@font-face {
  font-family: 'NewpitchScript';
  src: url(font/NewpitchScript_PERSONAL_USE_ONLY.otf);
}

#indexbody {
  background-image: url("img/bg.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
  background-size: cover;
}

h1 {
  font-family: 'NewpitchScript';
  color: purple;
  font-size: 100px;
  text-align: center;
  margin-top: 100px;
  -webkit-text-stroke: 1px aliceblue;
  animation: glow 1.5s ease-in-out infinite alternate;
}


@keyframes glow {
  0% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 0 0 20px purple, 0 0 30px pink;
  }

  100% {
    text-shadow: 0 0 20px rgba(255, 255, 255, 1), 0 0 40px purple, 0 0 50px pink;
  }
}

.háttér {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .container-sm{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
}

.card{
  background-color: #ffffff00;
} */

.játékgomb {
  font-family: 'NewpitchScript';
  transform: translate(-50%, -50%);
  padding: 15px 30px;
  font-size: 20px;
  color: white;
  background-color: purple;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.7), 0 0 5px purple;
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(255, 255, 1, 0.9), 0 0 5px purple;
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.7), 0 0 5px purple;
  }
}

.játékgomb:hover {
  background-color: pink;
  box-shadow: 0 0 20px purple;
}






#menubody {
  background-image: url("img/bg2.jpg");
  background-repeat: no-repeat;
  /* background-size: auto; */
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
  background-size: cover;
  height: 100%;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.kártyák div {
  
  width: 300px;
  height: 600px;
  border: black 1px solid;
  border-radius: 10px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.kártyák div:hover {
  transform: scale(1.1); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.kártyák div {
  filter: grayscale(80%) brightness(70%); 
}

.kártyák div:hover {
  filter: grayscale(0%) brightness(100%); 
}


.kártyák {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 150px;
}

#játék1 {
  background-image: url("img/MSJA-Quiz.jpg");
  background-size: contain;
}

#játék2 {
  background-image: url("img/hangman.jpg");
  background-size: contain;
}

#játék3 {
  background-image: url("img/kérdőjel.jpg");
  background-size: contain;
}




#akasztófabody {
  background: linear-gradient(to right, purple, orange);
}




